/* Student Dashboard */
.student-dashboard {
    background-color: #ffffff;
    padding: 20px;
  }
  
  /* Admin Dashboard */
  .admin-dashboard {
    background-color: #ffffff;
    padding: 20px;
  }
  
  /* Company Dashboard */
  .company-dashboard {
    background-color: #ffffff;
    padding: 20px;
  }
  